.collapsible .content {
    background-color: rgb(240, 240, 240);
    font-size: 14px;
    padding: 6px;
}
.collapsible .header {
    background-color: rgb(200, 200, 200);
    border-bottom: 2px solid rgb(220, 220, 220);
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    padding: 6px;
}
.collapsible .header .title {
    font-weight: 400;
}

.collapsible {
    padding-bottom: 0px;
    padding-top: 5px;
}