.column {
    float: left;
    width: 50%;

  }
.column > h3 {
    padding-top: 10px;
    color: rgb(0, 0, 0);
    font-family: 'Times New Roman', Times, serif;
    padding: 8px 20px;
    transition: all 0.3s ease-out;
    text-align: center;
}
.column > p {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  font: 'Times New Roman';

}

button.btn{
  color:rgb(47, 149, 197);
  border: 2px solid rgb(47, 149, 197);
  font-family: sans-serif;
  text-align: center;
}

  /* Clear floats after the columns */
  .row:after {
    padding-top: 10px;
    content: "";
    display: table;
    clear: both;
  }

.howitworks {
  font-family: sans-serif;
}
