@import url('https://fonts.googleapis.com/css?family=');

.column {
    float: left;
    width: 50%;
  }

.column > h3 {
    color: rgb(0, 0, 0);
    font-family: 'Times New Roman', Times, serif;
    padding: 8px 20px;
    padding-top: 10px;
    text-align: center;
    transition: all 0.3s ease-out;
}
.column > p {
  display: block;
  font: 'Times New Roman';
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  margin-top: 1em;

}

button.btn{
  background-color: #18A0FB !important;
  color:white;
  font-family: sans-serif;
  text-align: center;
}

  /* Clear floats after the columns */
  .row:after {
    clear: both;
    content: "";
    display: table;
    padding-top: 10px;
  }

.howitworks {
  font-family: 'PT Sans', sans-serif;
  font-weight: bolder;
  margin-right: 20px !important;
  margin-bottom: 20px;
}

.howitworks-vid {
  position: inherit;
}

.getstartednow-title {
  margin-top: 50px !important;
}
