.btn {
  margin-left: 5px;
  margin-bottom: 10px!important;
  margin-right: 10px !important;
  width: auto;
}

.card-body {
  margin-left: 20px;
  margin-right: 20px;
  padding: 0% !important;
}

.card-container {
    width: inherit;
}

.card-title {
  margin-left: 20px;
  margin-top: 10px;
}

.column {
    float: left;
    text-align: center;
    width: 50%;

  }
    
    /* Clear floats after the columns */
    .row:after {
      clear: both;
      content: "";
      display: table;
      padding-top: 10px;
    }

.card-img {
  height: fit-content !important;
  width: 100% !important;
}

.image-container img{
  height: auto;
  width: 100%;
}