.fastDescription {
  text-align: center;
}

.fastPlan {
  width: 30%;
  height: 30%;
}

.fastTitle {
  font-family: sans-serif;
  text-align: center;
}

.slowDescription {
  text-align: center;
}

.slowPlan {
  width: 30%;
  height: 30%;
}

.slowTitle {
  font-family: sans-serif;
  text-align: center;
}

.options {
    background-color: white;
    border: 2px solid black;
    color: black;
    margin: 100px;
    padding: 50px;
    width: 75%;
}

a > p {
    text-align: left;
}

a.btn{
    background-color: white;
    color: #454545;
    border: 2px solid rgb(47, 149, 197);
    font-family: sans-serif;
    text-align: center;
  }

.options:hover {
    background-color: #E5E7E9 ;
}

div {
    padding: 1%;
}
