@tailwind base;
@tailwind components;
@tailwind utilities;

.options {
    width: 75%;
    border: 2px solid black;
    background-color: white;
    color: black;
    padding: 50px;
    margin: 100px;
}

.options:hover {
    background-color: #E5E7E9 ;
}

div {
    padding: 1%;
}
